/* header css */
.header{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-bar{
  height: 30px;
  width: 350px;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  background: rgb(225, 221, 221);
  border-radius: 10px;
}
.search-bar input{
  height: 100%;
  border-radius: 10px;
  width: 90%;
  border: none;
  outline: none;
}
.search-icon{
  margin-left: 8px;
}
/* body css */
table{
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}
th,td{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
th{
  background-color: rgb(78, 78, 201);
  cursor: pointer;
}
td{
  background-color: aqua;
}
.pagination{
  display: flex;
  list-style: none;
}
.pagination li button{
  padding: 5px;
}
.active{
  background-color: aqua;
}